
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Операции со школой</h1>

<a href="/Students"> Студенты </a>
<a href="/Teachers"> Учителя </a>
<a href="/Groups"> Группы </a>
