@model IEnumerable<WebUserAjax.Data.Entities.ProjectUser>

@{
    ViewData["Title"] = "Admin index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Admin Account Controller</h1>
<div> TODO:  тут будет работа с пользователями и ролями</div>

<style>
    .avatar {width: 75px; border-radius: 50%; border: 2px solid #808080; }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Avatar" class="avatar" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                </td>

                <td>
                </td>
            </tr>
        }
    </tbody>
</table>


